@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
#logo {
  width: 100%;
  margin: 0%;
  display: inline-block;
  position: relative;
}
ul {
  list-style: none;
  position: absolute;
  top: 60px;
  right: 10px;
}
ul li {
  display: inline-block;
  padding: 7px;
  background-color: blue;
  width: 120px;
  text-align: center;
  padding: 5px 20px;
  margin: 0px 20px;
  border-radius: 0.5em;
}
ul li a {
  padding: 7px;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-decoration: none;
  font-weight: 600;
}
img#whatsapp {
  width: 5%;
  margin-left: 95%;
  position: fixed;
  top: 80%;
}
#copy {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  color: white;
  position: absolute;
  margin-top: 30px;
  background-color: hsl(240, 100%, 50%);
  padding: 10px;
  width: 100%;
}
.maps {
  width: 100%;
}

.formPadre{
  display: inline-block;
  width: 300px;
  position: absolute;
  right: 0px;
}
form{
  display: flex;
  flex-direction: column;
  width: 350px;
  gap: 10px;
  border-radius: 8px;
  align-items: center;
}
.titForm{
  align-items: center;
  font-family: cursive, fantasy;
  font-size: 15px;
}
.escribir{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
input{
  border: 1px solid blue;
  border-radius: 5px;
}
textarea{
  width: 80%;
  height: 180px;
  border-radius: 5px;
}
.boton{
  width: 100px;
  background-color: green;
  border: none;
}
.cont {
  display: inline-block;
  background-color: rgb(91, 197, 91);
  width: 100%;
  padding: 60px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2vw;
  gap: 25px;
}
#copy {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  color: white;
  position: absolute;
  margin-top: 30px;
  background-color: hsl(240, 100%, 50%);
  padding: 10px;
  width: 100%;
}