@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
#logo {
  width: 100%;
  margin: 0%;
  top: 0px;
  display: inline-block;
  position: relative;
}
ul {
  list-style: none;
  position: absolute;
  top: 30px;
  right: 10px;
}
ul li {
  display: inline-block;
  padding: 7px;
  background-color: blue;
  width: 120px;
  text-align: center;
  padding: 5px 20px;
  margin: 0px 20px;
  border-radius: 0.5em;
}
ul li a {
  padding: 7px;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-decoration: none;
  font-weight: 600;
}
img#whatsapp {
  width: 5%;
  margin-left: 95%;
  position: fixed;
  top: 80%;
}
#copy {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  color: white;
  position: absolute;
  margin-top: 200px;
  background-color: hsl(240, 100%, 50%);
  padding: 10px;
  width: 100%;
}

.contenedor {
position: relative;
height: 300vh;
width: 100%;
/* background-color: blueviolet; */
display: grid;
grid-template-rows: 1fr 1fr 1fr;
grid-template-columns: 1fr 1fr 1fr;
}
.prod {
  background-color: rgb(255, 255, 255);
  border: 20px;
  width: 300px;
  height: 550px;
  border: 5px solid black;
  position: relative;
  border-radius: 0.7em;
}
.imgcon{
  width: 250px;
  margin-left: 25px;
  margin-top: 20px;
}
.name {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#desc {
  position: absolute;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
